<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Purple Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">

  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{css/superAdmin.css}">
  <!-- End layout styles -->
  <!--  <link rel="shortcut icon" th:href="assets/images/favicon.ico" />-->
</head>

<style>


  .navbar .navbar-brand-wrapper .navbar-brand img{
    height: auto;
  }

  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img{
    height: auto;
    width: 50px;
  }

  .approve-btn{
    text-decoration: none;
    padding: 10px 20px !important;
  }

  .badge-gradient-success{
    background: var(--primary) !important;
  }

  .badge-gradient-danger{
    background: #DF4D36 ;
  }
</style>
<body>
<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="superAdmin.html"><img src="img/jobsearchlogo.png" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="superAdmin.html"><img src="img/logo.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
      <div class="search-field d-none d-md-block">
        <form class="d-flex align-items-center h-100" action="#">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
          </div>
        </form>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-text">
              <p class="mb-1 text-black">Administrative User</p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
          </div>
        </li>



      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/superAdmin}">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/approvedComp}">
            <span class="menu-title">Approved companies</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <span class="menu-title">User List</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="pages/tables/basic-table.html">
            <span class="menu-title">Tables</span>
            <i class="mdi mdi-table-large menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
                <span class="page-title-icon text-white me-2">
            <i class="mdi mdi-contacts menu-icon"></i>

                </span> Approved Companies
          </h3>

        </div>


        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Companies List</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th> Company Name </th>
                      <th> Address </th>
                      <th> Contact </th>
                      <th> URL </th>
                      <th> Industry </th>
                      <th> Employee No. </th>
                      <th> Verfication Doc </th>
                      <th> Status </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entity: ${dataList}">
                      <td>
                        <img th:src="@{'uploadImg/' + ${entity.logoName}}" class="me-2" alt="image">
                        <span th:text="${entity.company.companyName}"> Name </span>
                      </td>
                      <td th:text="${entity.companyDetails.companyAddress}"></td>
                      <td th:text="${entity.companyDetails.companyContact}"></td>
                      <td>
                        <a th:text="${entity.companyDetails.companyUrl}" th:href="${entity.companyDetails.companyUrl}" target="_blank"> </a>
                      </td>
                      <td th:text="${entity.companyDetails.industry}"></td>
                      <td th:text="${entity.companyDetails.employeeNo}"></td>
                      <td>
                        <a th:href="@{'uploadImg/' + ${entity.verifiedDocName}}" target="_blank">View Document</a>
                      </td>

                                            <td>
                                              <span> Approved </span>
                                            </td>

                      <td>
                        <a  class="approve-btn badge badge-gradient-danger" th:href="@{'/decline/' + ${entity.company.companyId}}"> Decline </a>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
          <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © JobSearch - 2024</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{js/jquery.cookie.js}" type="text/javascript"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{js/off-canvas.js}"></script>
<script th:src="@{js/hoverable-collapse.js}"></script>
<script th:src="@{js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>
</html>