<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" th:href="@{css/registration.css}" />
</head>
<body>

<section class="container">
  <div class="formbold-steps">
    <ul>
      <li class="formbold-step-menu1 ">
        <span>1</span>
        <p> Account Details </p>
      </li>
      <li class="formbold-step-menu2 ">
        <span>2</span>
        <p>Company Details </p>
      </li>
      <li class="formbold-step-menu3 active">
        <span>3</span>
        <p> Verification docs </p>
      </li>

    </ul>
  </div>

  <form action="/saveCompanyData" method="post" class="form" enctype="multipart/form-data">

    <input type="hidden" name="companyId" th:value="${Company.companyId}">
    <input type="hidden" name="companyName" th:value="${Company.companyName}">
    <input type="hidden" name="companyEmail" th:value="${Company.companyEmail}">
    <input type="hidden" name="companyPassword" th:value="${Company.companyPassword}">

    <input type="hidden" name="companyDetailsId" th:value="${cd.companyDetailsId}">
    <input type="hidden" name="companyAddress" th:value="${cd.companyAddress}">
    <input type="hidden" name="industry" th:value="${cd.industry}">
    <input type="hidden" name="employeeNo" th:value="${cd.employeeNo}">
    <input type="hidden" name="companyContact" th:value="${cd.companyContact}">
    <input type="hidden" name="companyUrl" th:value="${cd.companyUrl}">

    <div class="input-box">
      <label>Add logo (.jpg/.png)*</label>
      <input type="file" name="logo" id="file" accept="image/jpeg,image/png" required>
    </div>

    <div class="input-box">
      <label> Add Verification (Registration Certificate)*</label>
      <input type="file" id="fileUpload" name="docName" accept=".pdf/.doc/.docx/.jpeg/.png" required ><br>
    </div>

    <p class="terms"> By submitting this form, you agree to our <a href=""> Terms and Conditions.</a></p>
    <div class="add-btn">
      <a class="back-btn" href="companyDetails.html"> Back </a>
      <input class="next-btn" type="submit" value="Submit">
    </div>


  </form>
</section>
</body>
</html>