<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Dashboard</title>
    <base href="http://localhost:8080/">

    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">

    <link rel='stylesheet' th:href='@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css}'>

    <script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"></script>

    <script th:src='@{https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js}'></script>
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{css/superAdmin.css}">
    <link rel="stylesheet" th:href="@{css/cards.css}">

    <!-- End layout styles -->
</head>

<style>
    .navbar .navbar-brand-wrapper .navbar-brand img{
        height: 70px;
        width: 180px;
    }

    .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img{
        width: 60px;
        height: 60px;
    }

    .page-title .page-title-icon{
        background: #148FA8 !important;
    }


    .sidebar .nav .nav-item.active > .nav-link .menu-title,
    .sidebar .nav .nav-item.active > .nav-link i{
        color: #148FA8;
    }


    .navbar-dropdown a:hover{
        color: #148FA8 !important;
    }

     .days{
        float: right;
        color: #148fa8;
    }

    .approve-btn{
        border: none;
        background: #148fa8;
        padding: 10px 20px;
        text-decoration: none;
        transition: transform .2s ease-out;
    }

    .approve-btn:hover{
        transform: scale(1.05);
        color: #fafafa;
    }

    .card .card-body{
        padding: 20px 30px !important;
    }


</style>
<body>
<div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html"><img src="img/jobsearchlogo.png" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="img/logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-md-block">
                <form id="searchForm" class="d-flex align-items-center h-100" th:action="@{/search}" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" id="searchInput" name="query" class="form-control bg-transparent border-0" placeholder="Search jobs ">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img th:src="@{'uploadImg/' + ${data.profileName}}" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black" th:text="${data.personalDetails.name}">David Greymaax</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" th:href="@{/seeUserProfile}">
                            <i class="mdi mdi-cached me-2 text-success"></i> See profile </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/changePw}">
                            <i class="mdi mdi-key me-2 text-primary"></i> Change password </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logoutUser}">
                            <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
                    </div>
                </li>




            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/viewJobsUser}">
                        <span class="menu-title"> View jobs</span>
                        <i class="mdi mdi-briefcase menu-icon"></i>


                    </a>
                </li>

                <li class="nav-item">
                     <a class="nav-link" th:href="@{'/seeAppliedJobs/' + ${data.personalDetails.userId}}">

                        <span class="menu-title"> Applied jobs  </span>
                        <i class="mdi mdi-contacts menu-icon"></i>

                    </a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" th:href="@{/companyList}">
                        <span class="menu-title"> Approved Companies </span>
                        <i class="mdi mdi-format-list-bulleted menu-icon"></i>

                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-briefcase"></i>

                </span> View Jobs
                    </h3>
                </div>
<!--                <div class="row">-->
<!--                    -->
<!--                </div>-->

                <div class="error">

                    <p th:text="${error}" style="color:red;"> </p>

                </div>

                <p th:text="${success}" style="color:green;"> </p>

                <p  th:text="${noJobs}" style="color: #9C9FA6;"></p>


                <div class="row">
                    <div class="col-12 grid-margin">
                        <div style="margin-bottom: 1.5rem" class="card" th:each="job : ${job}">
                            <div class="card-body">
                                <span class="days" th:text="'Deadline: ' + ${job.deadline} "></span>

                                <div class="profilePart">

                                    <img th:src="@{'uploadImg/' + ${job.companyDocs.logoName}}" alt="#">

                                    <div class="info">
                                        <h4 th:text="${job.title}"> </h4>
                                        <h6 th:text="${job.company.companyName}">  </h6>
                                        <p th:text="${job.empType} + ' | ' + ${job.location}">    </p>
                                    </div>
                                </div>


                                <div class="table-responsive">
                                    <p class="jobdescription" th:text="${job.jobDescription}"> </p>

                                    <div class="requiredSkills" th:text="'Skills Required: ' + ${job.skills}"> </div>
                                    <div class="salary">
                                        <i class="mdi mdi-currency-usd card-icon"></i>
                                        <span th:text="${job.salary}"></span>


                                    </div>

                                    <a th:href="'/viewJobDetailsUser/' + ${job.jobId}">View Details</a>


                                    <div class="buttons">
                                        <a style="color: #fafafa; cursor: pointer;"  class="approve-btn badge badge-gradient-success" data-toggle="modal" data-target="#applyModal">
                                            Apply Now
                                        </a>

                                        <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel2"> Confirm</h5>
                                                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure to apply for the job?
                                                        <p style="color: #aba7a7; font-size: 12px;"> This cannot be changed later!</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a th:href="@{/closeModal}">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </a>

                                                        <a th:href="@{'/' + ${job.jobId} + '/apply/' + ${data.personalDetails.userId}}">
                                                            <button type="button" class="btn btn-gradient-dark btn-icon-text"> Yes, Apply </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">JobSearch - User Panel</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script th:inline="javascript">
    /* <![CDATA[ */
    document.addEventListener('DOMContentLoaded', function() {
        var searchInput = document.getElementById('searchInput');

        searchInput.addEventListener('input', function() {
            var query = searchInput.value.trim();
            var url = /*[[@{/search}]]*/ + '?query=' + encodeURIComponent(query);
            window.location.href = url;
        });
    });
    /* ]]> */
</script>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{js/jquery.cookie.js}" type="text/javascript"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{js/off-canvas.js}"></script>
<script th:src="@{js/hoverable-collapse.js}"></script>
<script th:src="@{js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>
</html>