<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>View Jobs- Company</title>
  <base href="http://localhost:8080/">
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->

  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{css/superAdmin.css}">
  <link rel="stylesheet" th:href="@{css/cards.css}">

  <!-- End layout styles -->
</head>

<style>
  .navbar .navbar-brand-wrapper .navbar-brand img{
    height: 70px;
    width: 180px;
  }

  .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img{
    width: 60px;
    height: 60px;
  }

  .page-title .page-title-icon{
    background: #148FA8 !important;
  }


  .sidebar .nav .nav-item.active > .nav-link .menu-title,
  .sidebar .nav .nav-item.active > .nav-link i{
    color: #148FA8;
  }

  .navbar-dropdown a:hover{
    color: #148FA8 !important;
  }

  .job-btn{
    font-size: 12px;
    text-decoration: none;
    background: #148fa8;
    color: #aba7a7;
    padding: 10px;
    margin-right: 10px;
    border-radius: 12px;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown a{
    margin-right: 100px !important;
    font-size: 14px !important;
  }


</style>
<body>
<div class="container-scroller">

  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href=""><img src="img/jobsearchlogo.png" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href=""><img src="img/logo.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
      <div class="search-field d-none d-md-block">
        <form class="d-flex align-items-center h-100" action="#">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0" placeholder="Search jobs ">
          </div>
        </form>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-img">
              <img th:src="@{'uploadImg/' + ${data.logoName}}" alt="image">
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black" th:text="${data.company.companyName}"></p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" th:href="@{/seeCompanyProfile}">
              <i class="mdi mdi-cached me-2 text-success"></i> See profile </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">
              <i class="mdi mdi-logout me-2 text-primary"></i> Change Password </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/logoutCompany}">
              <i class="mdi mdi-logout me-2 text-primary"></i> Logout </a>
          </div>
        </li>




      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/companyLanding}">
            <span class="menu-title"> Applicants</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" th:href="@{/viewJob}">
            <span class="menu-title"> View active jobs</span>
            <i class="mdi mdi-briefcase menu-icon"></i>


          </a>
        </li>


        <li class="nav-item ">
          <a class="nav-link" th:href="@{/addJobs}">
            <span class="menu-title"> Add jobs</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>

          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/approvedApplicants}">
            <span class="menu-title"> Approved applicants</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>

          </a>
        </li>

      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-briefcase"></i>

                </span> Active Jobs
          </h3>
        </div>
        <div class="row">



        </div>
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card" th:each="job : ${jobDetails}">
              <div class="card-body">
                <div class="profilePart">
                  <img th:src="@{'/uploadImg/' + ${job.companyDocs.logoName}}" alt="">

                  <div class="info">
                    <h4 th:text="${job.title}"> </h4>
                    <p th:text="${job.empType} + ' | ' + ${job.location}">    </p>
                  </div>
                </div>


                <div class="table-responsive">
                  <p class="jobdescription" th:text="${job.jobDescription}"> </p>


                  <div class="requiredSkills" th:text="'Skills Required: ' + ${job.skills}"> </div>
                  <div class="salary">
                    <i class="mdi mdi-currency-usd card-icon"></i>
                    <span th:text="${job.salary}"></span>


                  </div>

                  <div style="color: #148fa8" class="requiredSkills" th:text="'Status: ' + ${job.jobStatus}"> </div>



                  <a href="#"> View Details </a>


                  <div class="buttons">

                    <a href="">
                      <button type="button" class="btn btn-gradient-dark btn-icon-text"> Edit <i class="mdi mdi-file-check btn-icon-append"></i>
                      </button>
                    </a>

                    <a th:href="@{'/close/' + ${job.jobId}}">
                      <button type="button" class=" close-btn btn btn-gradient-dark btn-icon-text"> Close job <i class="mdi mdi-file-check btn-icon-append"></i>
                      </button>
                    </a>

                    <a th:href="@{'/dismiss/' + ${job.jobId}}">
                      <button type="button" class="btn btn-gradient-dark btn-icon-text"> Dismiss <i class="mdi mdi-file-check btn-icon-append"></i>
                      </button>
                    </a>

                    <a href="">
                      <button type="button" class="btn btn-outline-secondary btn-icon-text"> Delete   <i class="mdi mdi-delete  btn-icon-append"></i>
                      </button>
                    </a>




                  </div>

                </div>
              </div>
              <hr>

            </div>
          </div>
        </div>



      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
          <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">JobSearch - Company Panel</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{js/jquery.cookie.js}" type="text/javascript"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{js/off-canvas.js}"></script>
<script th:src="@{js/hoverable-collapse.js}"></script>
<script th:src="@{js/misc.js}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script th:src="@{js/dashboard.js}"></script>
<!-- End custom js for this page -->
</body>
</html>